<p>Hola</p>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-info my-2 my-sm-0" type="submit">Buscar</button>
        </form> 
    lo que me salga del capullo va aquí, he dicho