{% extends 'base.html.twig' %}

{% block body %}
 <h3>Error {{ status_code }} ({{ status_text|trans }})</h3>
 <p>{{ exception.message|trans }}</p>
 <p><a href="{{ path('index') }}">Volver al inicio</a></p>
{% endblock %}
 